<% let what = ["Fashion Design", 
"Capentry", 
"AC Repair", 
"Beauty Salon/SPA",
"Plumbers",
"Automobile Mechanics",
"Information Technology",
"Catering Services",
"Event Management and Planning",
"General Mechandise",
"Industrial Cleaning Services"]  %>

<select name="what" class="indus">
    <option value="option">Which Service Do You Need</option>
    <% what.forEach(function(jwhat){  %>
    <option value="<%= jwhat %>"><%= jwhat %></option>
    <% }) %>
</select>