<div class="footer">
   
   <div class="socialmedia">
        <h3>Connect With Us</h3>
        <div class="platform fb"></div>
        <div class="platform tw"></div>
        <div class="platform ig"></div>
        <div class="platform wa"></div>
       
   </div>
   <p>
      copyright Rohiz2020
   </p>
 
</div>
</body>
</html>