<%- include('partials/header') %>

<div>
    
</div>

    <div class="frm">
        <select name="what" id="">
            <strong><option value="">Which Service Do You Need</option></strong>
            <option value="">Fashion Designers</option>
            <option value="">AC Engineers</option>
            <option value="">Plumbers</option>
            <option value="">Beauty SPA Services</option>
            <option value="">Electrician</option>
        </select>

        <select name="where" id="">
            <option value="">Where?</option>
            <option value="">Lagos</option>
            <option value="">Abuja</option>
            <option value="">Port Harcourt</option>
            <option value="">Kano</option>
            <option value="">Ibadan</option>
        </select>

        <input type="submit" value="Search" name="search"/>

        <input type="submit" value="View All" name="viewall" />

        in

    </div>

    <div class="advert">
        <h1>Place your advert here</h1>
    </div>

    <%- include('partials/footer') %>