<%- include('partials/header') %>


    <div class="frm">
        <form action="/" method="post">

            <%- include('partials/businesslist') %>

            <%- include('partials/locationlist') %>

            <input type="submit" value="Search" name=""/>
        </form>
    </div>

    <div class="advert">
        <h1>Place your advert here</h1>
    </div>

    <%- include('partials/footer') %>